.Index {
  font-size: 18px;

  margin: auto 36px;
  padding-top: 120px;

  &-Banner {
    max-width: 100%;
  }

  * {
    white-space: pre-wrap;
    word-break: break-all;
  }

  // h1 {
  //   font-size: 26px;
  //   line-height: 1.2;
  //   margin-top: 40px;
  // }

  // h2 {
  //   font-size: 18px;
  //   line-height: 1.2;
  // }
}
